<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.buffalo.cse.ubcollecting">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PersonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FieldTripActivity" />
        <activity android:name=".FileActivity" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".QuestionnaireActivity" />
        <activity android:name=".QuestionnaireContentActivity" />
        <activity android:name=".QuestionnaireTypeActivity" />
        <activity android:name=".RoleActivity" />
        <activity android:name=".SessionActivity"></activity>
    </application>

</manifest>